.lobby{
    position: fixed;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -50%);
    width: 30%;
    height: 50%;
    background: rgb(66, 66, 66);
    padding: 10px;
    min-width: 450px;
    min-height: 530px;
}

.playerNickInput{
    width: 100%;
    color: rgb(167, 166, 166);
    background: rgb(97, 94, 94);
    font-size: 35px;
    border: none;
    border-radius: 5px;
}

.listOfRooms{
    margin-right: 10px;
    background: rgb(110, 110, 110);
    overflow-y: scroll;
}

.buttonsAndInfo{
    padding: 5px;
    background: rgb(110, 110, 110);
}

.darkBtn{
    padding: 10px;
    background: rgb(97, 94, 94);
    font-size: 35px;
    color: rgb(170, 169, 169);
    border: 5px solid rgb(56, 56, 56);
    margin: 3px;
}

.darkBtn:hover{
    border: 5px solid rgb(170, 169, 169);
    color: rgb(56, 55, 55);
    background: rgb(219, 218, 218);
}

.room{
    background: rgb(80, 77, 77);
    color: rgb(144, 144, 144);
    font-size: 25px;
    font-weight: bold;
    padding: 10px;
    border-radius: 20px;
    margin: 5px;
}

.room:hover{
    background: rgb(144, 144, 144);
    color:rgb(80, 77, 77);
}

.paswordInput{
    background: rgb(77, 74, 74);
    color: rgb(170, 169, 169);
    font-size: 20px;
    width: 100%;
    margin: 2px auto;
    font-weight: bold;
    border: none;
    border-radius: 5px;
}

button:focus, input:focus{
    outline: none;
}

::-webkit-scrollbar {
    width: 20px;
}

::-webkit-scrollbar-track {
    background: rgb(102, 101, 101);
    border-radius: 10px;
}
 
::-webkit-scrollbar-thumb {
    background: rgb(68, 61, 61);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    border: 2px solid rgb(155, 153, 153); 
}

